name: Linter

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  golangci-lint:
    name: Run golangci-lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: cli

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.1

      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: latest
          working-directory: cli

      - name: Run golangci-lint
        run: golangci-lint run ./...
