name: Tests

on:
  push:
    branches:
     - main
  pull_request:
    branches:
      - '**'

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: cli

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.1

      - name: Run tests with coverage
        run: go test -v -coverprofile=coverage.out -covermode=atomic ./...

      - name: Display coverage summary
        run: |
          echo "### Test Coverage Summary" >> $GITHUB_STEP_SUMMARY
          go tool cover -func=coverage.out | tail -1 >> $GITHUB_STEP_SUMMARY
          
